 
#search-meal{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 100px;
}
 #meals-list{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-row-gap: 50px;
     text-align: center;
     margin-top: 100px;
 }
 #meals-info{
     margin: 50px auto;
     
 }
 .card-footer{
background-color: white;
border: none;
 }
 .card{
     border: none;
     width:40%;
     margin: 0 auto;
 }
 .card-footer ul li{
     list-style-image: url(img/checkmark-png-25956\ \(1\).png);
      
 }
 .card-footer ul {
     margin-top: 30px;
 }